server/src/main/resources/public
src/main/resources/static
.DS_Store
.settings

.idea

.env

#java
target

# dev tools
app/node
node_modules

# emacs
*.*~
\#*.*\#
notes

# logs
logs
*.log
*.log.*
*.log.*.*

.eslintcache
