
.chair {
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    padding:5px;
    margin: 20px;
    background-color:grey;
    display:grid;
    grid-column-gap: 0px;
    grid-column: 2/7;
    grid-template-columns: 60px 150px auto 50px;
    height: 133px;
}

.chair .label {
    background-color:grey;
    margin:10px;
    padding-top:5px;
    padding-right:5px;
    padding-top:5px;
    padding-left:5px;
}

.chair .switchOn,
.chair .switchOff,
.chair .poweredOn,
.chair .poweredOff  {
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    padding:5px;
    padding-left:10px;
    margin-top: 10px;
    margin-right:0px;
    margin-left:5px;
    margin-bottom: 10px;
    background-color:darkgrey;
}

.chair .switchOn,
.chair .switchOff {
    border-radius: 10px;
    min-width: 90px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.chair .switchOn {
    background-color:green;
    color:lightgreen;
}

.chair .poweredOff,
.chair .poweredOn {
    margin-right: 10px;
    text-align: center;
}
.chair .poweredOn {
    background-color:orange;
}

.chair .pressed {
    background-color:white;
}
