
.outlet {
    border-radius:5px;
    padding:5px;
    margin: 20px;
    background-color:grey;
    float:left;
}

.outlet .label {
    background-color:grey;
    margin:10px;
}

.outlet .switchOn, .outlet .switchOff {
    border-radius: 5px;
    padding:5px;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    height:100px;
    width:100px;
    background-color:darkgrey;
}

.outlet .switchOn {
    background-color:green;
    color:lightgreen;
}


.poweredOn, .poweredOff  {
    margin: 10px;
    border-radius:5px;
    padding:5px;
    text-align:center;
}

.poweredOn {
    background-color:orange;
}
