
.outlet {
    position:relative;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    margin: 10px;
    grid-column: 2/7;
    height: 80px;
    text-transform: uppercase;
}
/*
.outlet .name {
    position:absolute;
    bottom:0px;
    margin-left:10px;
    text-transform: uppercase;
}
*/

.outlet .griditemgap {
    height:80px;
}

.outlet .switchOn,
.outlet .switchOff,
.outlet .lockedOut,
.outlet .poweredOn,
.outlet .poweredOff  {
    float:right;
    padding:5px;
    padding-left:10px;
    background-color:black;
    height: 80px;
    color: #6496fa;
    min-width: 50px;
}

.outlet .switchOn,
.outlet .switchOff,
.outlet .lockedOut {
    min-width: 120px;
}

.outlet .switchOn {
    background-color: crimson;
    color:black
}
.outlet .switchOff {
    background-color: greenyellow;
    color: black;
}

.outlet .poweredOff,
.outlet .poweredOn {
    text-align: center;
}

.outlet .poweredOn {
    background-color:orange;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color:black;
}

.outlet .pressed {
    background-color:white;
}


@keyframes pulse {
    0% {
        background-color: darkgoldenrod;
    }
    50% {
        background-color: orange;
    }
    100% {
        background-color: darkgoldenrod;
    }
}

